---
layout: archive
title       : "Research Driven Content"
description : "Full-Time Crypto-Research, Bitcoin History, Decentralized Identity, Blockchain Development, Web-Work, Indie-Web and Practical-Crypto."
toc         : true
toc_label   : "Contents"
toc_icon    : "link"
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
